@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MVC Store Admin</title>
    <link href="@Url.Content("~/Areas/MVCStore.Admin/Contents/CSS/site.css")" type="text/css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr") 
    

    <!-- Custom styles -->
    <style type="text/css">
        .alert {
            margin: 0 auto 20px;
        }
    </style>
   
</head>

<body>
    <div class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/content/css/bootstrap")

    
    @RenderSection("scripts", required: false)
 
</body>
</html>
